<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.liihuu.kline">

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme.NoActionBar">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".BasicKLineActivity"
			android:label="@string/title_activity_basic"/>
		<activity
			android:name=".StyleSettingActivity"
			android:label="@string/title_activity_style_setting"/>
		<activity
			android:name=".DrawPriceMarkActivity"
			android:label="@string/title_activity_draw_price_mark"/>
		<activity
			android:name=".IndicatorSettingActivity"
			android:label="@string/title_activity_indicator_setting"/>
		<activity
			android:name=".CustomIndicatorActivity"
			android:label="@string/title_activity_custom_indicator"/>
		<activity
			android:name=".DrawTooltipGeneralDataActivity"
			android:label="@string/title_activity_draw_tooltip_general_data"/>
		<activity
			android:name=".CustomTooltipGeneralDataActivity"
			android:label="@string/title_activity_custom_tooltip_general_data"/>
		<activity
			android:name=".ValueFormatActivity"
			android:label="@string/title_activity_value_format"/>
		<activity
			android:name=".SegmentLoadDataActivity"
			android:label="@string/title_activity_segment_load_data"/>
		<activity
			android:name=".SegmentLoadDataWithAnimActivity"
			android:label="@string/title_activity_segment_load_data_with_loading"/>
		<activity
			android:name=".FillDataActivity"
			android:label="@string/title_activity_auto_fill_data"/>

		<activity
			android:name=".ScrollingActivity"
			android:label="@string/title_activity_scrolling"/>
	</application>

</manifest>